{% extends 'base.html' %}
{% block content3 %}
<li class="nav-item">
  <b><h4> <a class="nav-link" href="/login">Login</a></h4></b>
</li>
{% endblock %}
{% block content %}
<div class="containter pt-4">
  <div class="col-lg-5 shadow  mx-auto p-0">
    <div class="alert alert-success">
      <h2>Email Verification</h2>
    </div>
    <div class="p-4">
      <form method="post" action="/forget_password/" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        <p>{{error}}<p>
        {% endif %}
      {% for fm in form %}
      {{fm.label_tag}}  {{fm}}   {{fm.errors|striptags}} <br> <br>
      {% endfor %}
        <hr>
        <input class="btn btn-success" type="submit" value="verify">
      </form>
    </div>
  </div>
</div>

{% endblock %}
